* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h2 {
    font-weight: normal;
    font-size: 34px;
}

h3 {
    font-weight: normal;
    font-size: 24px;
}

h4 {
    font-weight: normal;
    font-size: 16px;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}

header {
    background: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.combined_logo {
    float: left;
    padding-top: 2px;
    max-width: 400px;
    width: 100%;
    height: 100%;
}

.logoText {
    float: left;
    
    padding-top: 10px;
    padding-left: 20px;
    max-height: 65%;

    min-width: 400px;
    max-width: 500px;
    object-fit: contain;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;

    line-height:80px;
    height: 80px;

    text-align: center;
    /*border: 3px solid green;*/

    position: relative;
}

nav a {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.spanning {
    display: block;
    width: 100%;
    height: auto;
    color: black;
}

.spanning img {
    width: 100%;
    height: 100%;
}

.section {
    background-color: white;
    width: 100%;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

.horizontal_container {
    width: 100%;
    padding: 20px 0;
}

.horizontal_line {
    border-top: 1px solid black;
}

.shrink {
    width: 80%;
    max-width: 850px;
}

.center {
    margin: auto;
}

.rounded_corners {
    border-radius: 60px;
}

.main_block {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 6%;
}

.block_item {   
    font-size: 23px;
    text-align: center;
    align-self: center;
    flex-basis: 200px;
    flex-grow: 2;
    object-fit: contain;
}

.block_item .left_align {
    text-align: left;
}

.block_image {
    text-align: left;
    min-width: 350px;
    max-width: 400px;
    width: 100%;
    flex-grow: 1;
}

.block_image_mich {
    text-align: left;
    min-width: 550px;
    max-width: 600px;
    width: 100%;

}

.vertical_padding {
    padding-top: 20px;
}

.button {
    background-color: #222;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
  }

  .sponsor_main {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.large_font {
    font-size: 26px;
}

.main_block .small_font {
    font-size: 20px;
}

.grow {
    flex-grow: 4;
}

.grow_shrink {
    flex-grow: 1;
}


.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.inner_footer {
    display: block;
    
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    text-align: center;
    width: 29%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 100px;
    height: 100%;
}

.inner_footer .contact_info {
    width: 40%;
    float: left;
    height: 100%;
    display: block;
    text-align: center;
}

.inner_footer .contact_info .social_media img {
    width: 50px;
    height: 100%;
}

.inner_footer .umich_logo {
    text-align: center;
    float: right;
    width: 29%;
    height: 100%;
    display: block;
}

.inner_footer .umich_logo img {
    width: 100px;
    height: 100%;
}
